@import "../../styles/theme-variables.scss";

.text-editor {
  border-radius: 0.5rem;
  min-height: 300px;
  border: none !important;

  .ProseMirror {
    @include themify($themes) {
      background-color: themed("colorBackground") !important;
      color: themed("colorTextPrimary");
    }
    padding: 1rem;
    padding-left: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    font-family: "Work Sans", sans-serif;

    > * + * {
      margin-top: 0.75em;
    }

    ul,
    ol {
      padding: 0 2rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include themify($themes) {
        color: themed("editorTextColor");
      }
      line-height: 1.1;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }

    code {
      background-color: #616161;
      color: #ffffff;
    }

    pre {
      @include themify($themes) {
        background-color: themed("preColorBackground") !important;
        color: themed("preTextColor");
      }
      font-family: "JetBrainsMono", monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      font-size: 16px;
      line-height: 2;

      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
        font-size: 16px;
      }
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
    img {
      max-width: 100%;
      height: auto;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 2px solid #616161;
    }

    hr {
      border: none;
      border-top: 2px solid #616161;
      margin: 2rem 0;
    }

    &:focus {
      outline: none;
    }

    .ProseMirror-gapcursor {
      display: none;
    }
  }

  .is-empty::before {
    content: attr(data-placeholder);
    color: #6c757d;
    border: none;
  }
}
