$themes: (
  light: (
    colorBackground: #ffffff,
    colorTextPrimary: #000000,
    colorTextSecondary: #1e1e1e,
    colorTextTertiary: #dddde0,
    formBackground: #2a2e41,
    formTextColor: #ffffff,
    buttonBackground: #dddde0,
    inputTextColor: #000000,
    borderColor: #707072,
    editorTextColor: #000000,
    articleCardBorderColor: #dddde0,
    articleCardHoverBorderColor: #dddde0,
    tagBadgeBackground: #062943,
    tagBadgeColor: #ffffff,
    editorButtonBackground: #dddde0,
    editorButtonColor: #000000,
  ),
  dark: (
    colorBackground: #060b20,
    colorTextPrimary: #ffffff,
    colorTextSecondary: #f4f5f8,
    colorTextTertiary: #36394c,
    formBackground: #ffffff,
    formTextColor: #060b20,
    buttonBackground: #2a2e41,
    inputTextColor: #000000,
    borderColor: #707072,
    editorTextColor: #000000,
    articleCardBorderColor: #666666,
    articleCardHoverBorderColor: #373b52,
    tagBadgeBackground: #e5e5e5,
    tagBadgeColor: #060b20,
    editorButtonBackground: #dddde0,
    editorButtonColor: #000000,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
