@import "../../../styles/theme-variables.scss";

.articles-wrapper {
  min-height: 100vh !important;

  @include themify($themes) {
    background-color: themed("colorBackground");
    color: themed("colorTextPrimary");
  }

  .top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
      @include themify($themes) {
        background-color: themed("colorTextPrimary");
        color: themed("colorTextTertiary");
      }
      border-radius: 8px;
      padding: 5px 10px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
