@import "../../../styles/theme-variables.scss";

.articles-wrapper {
  min-height: 100vh !important;

  @include themify($themes) {
    background-color: themed("colorBackground");
    color: themed("colorTextPrimary");
  }

  .top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
