@import "../../../styles/theme-variables.scss";

.search-article {
  @include themify($themes) {
    background-color: themed("colorBackground");
    color: themed("colorTextPrimary");
  }
  min-height: 100vh !important;

  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    input {
      &:focus {
        box-shadow: none !important;
      }
    }
    button {
      @include themify($themes) {
        background-color: themed("colorTextPrimary");
        color: themed("colorTextTertiary");
      }
      border-radius: 8px;
      padding: 5px 10px;
      font-size: 18px;
      cursor: pointer;
      border: none;
    }
  }

  .tag-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;

    button {
      @include themify($themes) {
        background-color: themed("colorTextPrimary");
        color: themed("colorTextTertiary");
      }
      margin: 5px;
      padding: 5px 10px;
      border-radius: 8px;
      cursor: pointer;
      border: none;
    }
  }
}
