@import "../../styles/theme-variables.scss";

.wrapper {
  @include themify($themes) {
    box-shadow: 0px 6px 6px 6px themed("articleCardHoverBorderColor");
  }
  padding: 10px;
  border-radius: 10px;

  h4 {
    @include themify($themes) {
      color: themed("colorTextPrimary");
    }
  }

  .stack-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

    div {
      padding: 5px;
      margin: 5px;

      span {
        @include themify($themes) {
          color: themed("colorTextPrimary");
        }
      }
    }
  }
}
